@model PhoneBook.Models.Contact

<table>
    <tr>
        <td>
            FirstName: @Html.TextBoxFor(x => x.FirstName)
            @Html.ValidationMessageFor(x => x.FirstName)

            LastName: @Html.TextBoxFor(x => x.LastName)
            @Html.ValidationMessageFor(x => x.LastName)

            Position: @Html.TextBoxFor(x => x.Position)
            @Html.ValidationMessageFor(x => x.Position)
        </td>
    </tr>
</table>

<input type="submit" value="Save"/>
