@model List<PhoneBook.Models.Contact>


<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Position</th>
    </tr>
    @foreach (var contact in Model)
    {
        <tr>
            <td>@contact.FirstName</td>
            <td>@contact.LastName</td>
            <td>@contact.Position</td>
            <td>
                @Html.ActionLink("Edit", "Update",
                         routeValues: new { id = contact.Id })
            </td>
            <td><a href="">Delete</a></td>
        </tr>
    }
</table>
@Html.ActionLink("New Contact", "Add", "Contacts");
